<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <div>
        <main>
            <h1>
                Server error:
                <%= message %>
            </h1>
            <p>
                <a href="/">Home</a>
            </p>
            <% if(process.env.NODE_ENV !== "production") { %>
            <pre>
                <%= error.stack %>
            </pre>
            <% } %>
        </main>
    </div>
</body>

</html>